/* Commander Section */

.commanderSection {
  background: #151419;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commanderContent {
  display: flex;
  max-width: 1250px;
  margin: 120 0;
  justify-content: space-between;
  width: 100%;
}

.sectionTitle {
  margin: 0;
  white-space: nowrap;
  color: var(--color-orangered);
}

.commanderText {
  display: flex;
  flex-direction: column;
}

.commanderInfo {
  display: flex;
  flex-direction: column;
}

.commanderTitleBlock {
  margin: 80 0;
}
.commanderTitle {
  color: #fbfbfb;
  margin: 0;
  padding-bottom: 32;
}

.commanderRank {
  color: #fbfbfb;
  margin: 0;
  line-height: 1;
}

.commanderName {
  color: #fbfbfb;
  margin: 0;
  line-height: 1;
}

.commanderImage {
  position: relative;
  width: 721;
  height: 688;
}

.commanderQuote {
  max-width: 470px;
  display: flex;
  flex-direction: column;
}

.commanderButton {
  display: flex;
  align-items: flex-start;
  margin-top: 40;
}

.commanderQuote p {
  text-transform: uppercase;
  color: #ff4f18;
  margin: 0;
}
