/* Commander Section */

.commanderSection {
  background: #151419;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commanderContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1250px;
  margin: 120 0;
  gap: 20;
  height: 636;
}

.sectionTitle {
  font-size: 80px;
  font-family: var(--font-kordon);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 73px;

  margin: 0;
  white-space: nowrap;
  font-family: var(--font-kordon);
  font-weight: 700;
  font-style: initial;
}

.commanderText {
  display: flex;
  flex-direction: column;
}

.commanderInfo {
  display: flex;
  flex-direction: column;
}

.commanderTitleBlock {
  margin: 80 0;
}
.commanderTitle {
  font-size: 32px;
  font-family: var(--font-kordon);
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
  padding-bottom: 32;
}

.commanderRank {
  font-size: 24px;
  font-family: var(--font-kordon);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
  line-height: 1;
}

.commanderName {
  font-size: 24px;
  font-family: var(--font-kordon);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
  line-height: 1;
}

.commanderImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.commanderQuote {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
}

.commanderButton {
  max-width: 1250px;
  display: flex;
  align-items: flex-start;
  margin-top: 40;
  font-family: var(--font-kordon);
  font-style: italic;
  font-weight: 700;
}
.commanderQuote p {
  text-transform: uppercase;
  color: #ff4f18;
  line-height: 1;
  margin: 0;
  font-family: var(--font-kordon);
  font-weight: 700;
  font-style: initial;
  font-size: 40px;
}
