/* FAQ Section */

.faqMain {
  background: #1b1a1f;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-kordon);
}

.faqSection {
  max-width: 1250px;
  width: 100%;
}
.sectionTitle {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 73px;
  color: #fbfbfb;
  margin: 0;
  white-space: nowrap;
  font-family: var(--font-kordon);
  font-weight: 700;
  font-style: initial;
}

.faqHeader {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  padding-bottom: 80px;
}

.faqSubtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #fbfbfb;
  max-width: 721px;
  margin: 0;
  align-self: flex-start;
}

.faqList {
  max-width: 1250px;
  margin: 0 auto;
}

.faqItem {
  border: 1px solid #fbfbfb;
  overflow: hidden;
}

.faqQuestion {
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  font-family: var(--font-kordon);
  font-size: 40px;
  font-weight: 700;
  font-style: initial;
  text-transform: uppercase;
  color: #fbfbfb;
  cursor: pointer;
  transition: all 0.3s;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 20px;
}

.faqQuestion:hover {
  color: var(--color-orangered);
}

.faqItem:last-child .faqQuestion {
  border-bottom: none;
}

.faqAnswer {
  padding: 0 0 28 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  max-width: 1016;
}

.faqItem:last-child .faqAnswer {
  border-bottom: none;
}
