.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
  color: var(--color-gray);
  font-family: var(--font-kordon);
  font-style: italic;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.component2 {
  background-color: var(--color-orangered);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  box-sizing: border-box;
  min-width: 200px;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-gray);
  font-family: var(--font-kordon);
  font-style: italic;
}
.component2:hover {
  background-color: rgba(255, 69, 0, 0.8);
}

.text {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
}
