.cookies {
  padding: 120px 0;
  min-height: 60vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin-bottom: 32px;
}

.content {
  color: rgba(251, 251, 251, 0.8);
}

@media (max-width: 1024px) {
  .cookies {
    padding: 80px 0;
  }
}

@media (max-width: 744px) {
  .cookies {
    padding: 60px 0;
  }
}
