.commanderMain {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.commanderSection {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.commanderContent {
  align-items: stretch !important;
  width: 100%;
}

.sectionTitle {
  margin: 0;
  white-space: nowrap;
}

.commanderText {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  max-width: 100%;
}

.commanderInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.commanderTitleBlock {
}

.commanderTitle {
  margin: 0 0 40px 0;
  color: #FBFBFB;
  font-family: var(--font-kordon);
}

.commanderRank {
  margin: 0;
  color: #FBFBFB;
}

.commanderName {
  margin: 0;
  color: #FBFBFB;
}

.commanderImage {
  position: relative;
  width: 100%;
  min-height: 0;
  align-self: stretch;
}

.commanderImage img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.commanderAwards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.commanderAwardsTitle {
  margin: 0 0 20px 0;
  color: #FF4F18;
}

.commanderAwardsText {
  color: #FBFBFB;
}

.commanderQuote {
  display: flex;
  flex-direction: column;
  color: #FF4F18;
}

.commanderBio {
  color: #FBFBFB;
  width: 100%;
}

/* Tablet Landscape */
@media (max-width: 1250px) {
  .commanderMain {
    padding: 120px 0;
  }

  .commanderSection {
    gap: 60px;
  }

  .commanderContent {
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }

  .commanderText {
    width: 100%;
    max-width: 100%;
    gap: 40px;
  }

  .commanderInfo {
    gap: 40px;
  }

  .commanderTitleBlock {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .commanderTitle {
    margin: 0;
  }

  .commanderQuote {
    max-width: 100%;
  }

  .commanderAwards {
    max-width: 100%;
  }
}

/* Tablet Portrait */
@media (max-width: 924px) {
  .commanderMain {
    padding: 100px 0;
  }

  .commanderSection {
    gap: 50px;
  }

  .commanderContent {
    grid-template-columns: 1fr !important;
  }

  .commanderText {
    max-width: 100%;
    gap: 40px;
  }

  .commanderInfo {
    gap: 40px;
  }

  .commanderTitleBlock {
    gap: 30px;
  }

  .commanderImage {
    min-height: 500px;
    order: -1;
  }
}

/* Phone */
@media (max-width: 674px) {
  .commanderMain {
    padding: 80px 0;
  }

  .commanderSection {
    gap: 40px;
  }

  .commanderContent {
    grid-template-columns: 1fr !important;
  }

  .commanderText {
    max-width: 100%;
    gap: 40px;
  }

  .commanderInfo {
    gap: 20px;
  }

  .commanderTitleBlock {
    gap: 20px;
  }

  .commanderImage {
    min-height: 350px;
    order: -1;
  }
}
