/* Support Section */
.formMain {
  background: #151419;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formTitle {
  color: #ff4f18;
  margin: 0;
  white-space: nowrap;
}

.formSection {
  max-width: 1250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.formHeader {
  display: flex;
  gap: 99px;
  max-width: 1250px;
}

.formInfo {
  max-width: 721px;
}

.formInfo p {
  color: #fbfbfb;
}

.formContent {
  display: flex;
  justify-content: flex-end;
  max-width: 1250px;
  margin-right: 110px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.inputContainer {
  border: 1px solid #fbfbfb;
  width: 598px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  width: 562px;
  height: 22px;
  color: var(--color-gray-300);
  display: flex;
}
.checkField {
  color: var(--color-gray-300);
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.checkPoint {
  background-color: var(--color-gray-300);
  border: 3px solid var(--color-gray-300);
  width: 19px;
  height: 19px;
  margin-right: 10px;
  border-radius: 50px;
}

.checkPoint :active {
  background-color: var(--color-orangered);
  border: 3px solid #fbfbfb;
  width: 19px;
  height: 19px;
  margin-right: 10px;
  border-radius: 50px;
}

.formButton {
  margin: auto 0;
}
.inputContainer1 {
  width: 598px;
  height: 56px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.inputBottomText {
  color: var(--color-gray-300);
}

.formButton {
  width: 598px;
}
.inputContainer2 {
  width: 598px;
  height: 56px;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 18;
}
.inputContainer2 a {
  color: var(--color-orangered);
  cursor: pointer;
}
.inputContainer2 a:hover {
  color: var(--color-gray);
}

.textInput {
  background-color: #151419;
  width: 100%;
  border: 0px;
  color: var(--color-gray);
}

.selectInput {
  background-color: #151419;
  width: 100%;
  border: 0px;
  color: var(--color-gray-300);
  appearance: none;
  background-image: url("/images/Arrow_Form.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
  padding-right: 35px;
}

.selectValue {
  background-color: #151419;
  width: 100%;
  border: 1px solid #fbfbfb;
  color: var(--color-gray-300);
}
/* Radio Input Styles */
.radioInput {
  display: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.radioInput:checked + .radioLabel {
  color: var(--color-gray);
}

.radioCircle {
  width: 19px;
  height: 19px;
  border: 3px solid var(--color-gray-300);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
  background-color: var(--color-gray-300);
}

.radioInput:checked + .radioLabel .radioCircle {
  background-color: var(--color-orangered);
  border-color: var(--color-gray);
}

.radioInput:checked + .radioLabel .radioCircle::after {
  content: "";
  width: 8px;
  height: 8px;
}

.radioLabel:hover .radioCircle {
  border-color: var(--color-gray);
}

.radioLabel:hover {
  color: var(--color-gray);
}
