/* Recruitment Path Section */
.recruitmentMain {
  background: #1b1a1f;
  padding: 120px 0;
  font-family: var(--font-kordon);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recruitmentSection {
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  gap: 124;
}

.sectionTitle {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 73px;
  color: #fbfbfb;
  margin: 0;
  font-weight: 700;
  font-style: initial;
  max-width: 403;
}

.pathSteps {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px;
  max-width: 723px;
}

.pathStep h3 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 73px;
  color: #fbfbfb;
  margin: 0 0 20px 0;
}

.pathStep p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #fbfbfb;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  margin: 0;
}
