.policy {
  padding: 220px 0 120px;
  min-height: 60vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title {
  margin: 0;
  color: var(--color-accent);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blockHeader {
  margin: 0;
  color: var(--color-accent);
}

.blockText {
  color: #FBFBFB;
}

.blockText ul {
  padding-left: 24px;
  margin: 0;
}

@media (max-width: 1024px) {
  .policy {
    padding: 180px 0 100px;
  }

  .container {
    gap: 60px;
  }
}

@media (max-width: 744px) {
  .policy {
    padding: 140px 0 80px;
  }

  .container {
    gap: 40px;
  }
}
