/* FAQ Section */

.faqMain {
  background: #1b1a1f;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqSection {
  max-width: 1250px;
  width: 100%;
}
.sectionTitle {
  color: var(--color-orangered);
  margin: 0;
  white-space: nowrap;
}

.faqHeader {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  padding-bottom: 80px;
}

.faqSubtitle {
  color: #fbfbfb;
  max-width: 721px;
  margin: 0;
  align-self: flex-start;
}

.faqList {
  max-width: 1250px;
  margin: 0 auto;
}

.faqItem {
  border: 1px solid #fbfbfb;
  overflow: hidden;
}

.faqQuestion {
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  color: #fbfbfb;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 20px;
}

.faqQuestion:hover {
  color: var(--color-orangered);
}

.faqItem:last-child .faqQuestion {
  border-bottom: none;
}

.faqAnswer {
  padding: 0 0 28 40px;
  color: #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  max-width: 1016;
}

.faqItem:last-child .faqAnswer {
  border-bottom: none;
}
