/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #434343;
  justify-content: center;
}

.heroBackground {
  position: absolute;
  inset: 0;
}

.heroBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frameParent {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 23px;
  max-width: 1250px;
  text-align: left;
}
.heroContent {
  position: relative;
  color: var(--color-gray);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.heroMeta {
  margin: 0 0 0 0;
}

.heroTitle {
  margin: 24 0 40px 0;
}

.heroActions {
  display: flex;
  gap: 16px;
}

.containerSocials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.component {
  width: var(--width-28);
  height: var(--height-28);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
