/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  /* margin-top: 100px; */
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #434343;
  justify-content: center;
}

.heroBackground {
  position: absolute;
  inset: 0;
}

.heroBackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frameParent {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 23px;
  max-width: 1250px;
  text-align: left;
  font-size: 18px;
  color: var(--color-gray-200);
  font-family: var(--font-kordon);
}
.heroContent {
  position: relative;
  color: var(--color-gray-100);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 95px; */
  align-items: center;
  justify-content: center;
}

.heroMeta {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09px;
  margin: 0 0 0 0;
  line-height: 25.2px;
  font-family: var(--font-cordon);
  font-style: italic;
}

.heroTitle {
  font-family: var(--font-cordon);
  font-size: 128px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110.2px;
  margin: 24 0 40px 0;
  font-style: initial;
}

.heroActions {
  display: flex;
  gap: 16px;
}

.containerSocials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.component1 {
  width: var(--width-28);
  height: var(--height-28);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.vectorIcon {
  position: absolute;
  height: 95.36%;
  width: 100%;
  top: 2.38%;
  right: 2.27%;
  bottom: 2.26%;
  left: 2.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.component12 {
  width: var(--width-28);
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon2 {
  position: absolute;
  height: 95.42%;
  width: 100%;
  top: 3.13%;
  right: 3.04%;
  bottom: 1.46%;
  left: 1.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  position: absolute;
  height: 94.64%;
  width: 100%;
  top: 2.38%;
  right: 2.27%;
  bottom: 2.98%;
  left: 2.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
