/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom fonts */
.font-kordon {
  font-family: var(--font-kordon);
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */
  --color-gray: #fbfbfb;
  --color-orangered: #ff4f18;
  --color-orange: #ff6a3a;
  --color-gray-100: #fbfbfb;
  --color-gray-200: rgba(21, 20, 25, 0.3);
  --color-gray-50: rgba(255, 255, 255, 0.1);

  /* WidthHeights */
  --height-27: 27px;
  --height-28: 28px;
  --max-w-140: 140px;
  --width-27: 27px;
  --width-28: 28px;
}
