@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom fonts */
.font-kordon {
  font-family: var(--font-kordon);
}

.font-kordon-cond {
  font-family: var(--font-kordon-cond);
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */

  --color-orangered: #ff4f18;
  --color-orange: #ff6a3a;
  --color-gray: #fbfbfb;
  --color-gray-50: rgba(255, 255, 255, 0.1);
  --color-gray-200: rgba(21, 20, 25, 0.3);
  --color-gray-300: #878787;

  /* WidthHeights */
  --height-27: 27px;
  --height-28: 28px;
  --max-w-140: 140px;
  --width-27: 27px;
  --width-28: 28px;
}
/* Fonts =======sets============*/
/* Fonts L */
/* title L */
.font-title-l {
  font-family: var(--font-kordon-cond);
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
.title-l-l {
  font-size: 120px;
}
.title-l-m {
  font-size: 80px;
}
.title-l-s {
  font-size: 60px;
}
/* headline L */
.font-headline-l {
  font-family: var(--font-kordon-cond);
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.headline-l-m {
  font-size: 40px;
}

.headline-l-s {
  font-size: 32px;
}

/* subtitle L */
.font-subtitle-l {
  font-family: var(--font-kordon);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
}

/* text L */
.font-text-l-l {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  line-height: 100%;
  font-size: 32px;
  font-weight: 700;
}
.font-text-l-m {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  font-size: 24px;
}
.font-text-l-s {
  font-family: var(--font-kordon);
  font-weight: 500;
  line-height: 120%;
  font-size: 18px;
}
.font-text-l-xs {
  font-family: var(--font-kordon);
  font-weight: 500;
  line-height: 120%;
  font-size: 14px;
}

/* link L */
.font-link-l {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 120%;
  font-size: 14px;
  text-decoration: underline;
}
/* button L */
.font-button-l {
  font-family: var(--font-kordon);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.font-jobButton-l {
  font-family: var(--font-kordon);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

/* Fonts M */
/* title M */
.font-title-m {
  font-family: var(--font-kordon-cond);
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
.title-m-l {
  font-size: 100px;
}
.title-m-m {
  font-size: 80px;
}
.title-m-s {
  font-size: 60px;
}

/* headline M */
.font-headline-m {
  font-family: var(--font-kordon-cond);
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.headline-m-m {
  font-size: 40px;
}

.headline-m-s {
  font-size: 32px;
}

/* subtitle M */
.font-subtitle-m {
  font-family: var(--font-kordon);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
}

/* text M */
.font-text-m-l {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  line-height: 100%;
  font-size: 32px;
  font-weight: 700;
}
.font-text-m-m {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  font-size: 24px;
}
.font-text-m-s {
  font-family: var(--font-kordon);
  font-weight: 500;
  line-height: 120%;
  font-size: 16px;
}
.font-text-m-xs {
  font-family: var(--font-kordon);
  font-weight: 500;
  line-height: 120%;
  font-size: 12px;
}

/* Fonts S */
/* title S */
.font-title-s {
  font-family: var(--font-kordon-cond);
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
.title-s-l {
  font-size: 60px;
}
.title-m-m {
  font-size: 40px;
}
.title-m-s {
  font-size: 32px;
}

/* headline S */
.font-headline-s {
  font-family: var(--font-kordon-cond);
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.headline-s-m {
  font-size: 24px;
}

.headline-s-s {
  font-size: 24px;
}

/* subtitle S */
.font-subtitle-s {
  font-family: var(--font-kordon);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
}

/* text S */
.font-text-s-l {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  line-height: 100%;
  font-size: 24px;
  font-weight: 700;
}
.font-text-s-m {
  font-family: var(--font-kordon);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 100%;
  font-size: 18px;
}
.font-text-s-s {
  font-family: var(--font-kordon);
  font-weight: 500;
  line-height: 120%;
  font-size: 14px;
}
.font-text-s-xs {
  font-family: var(--font-kordon);
  font-weight: 500;
  line-height: 120%;
  font-size: 12px;
}
