.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.component {
  border: none;
  background-color: var(--color-orangered);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  box-sizing: border-box;
  min-width: 200px;
  cursor: pointer;
  color: var(--color-gray);
  text-transform: uppercase;
}
.component:hover {
  background-color: rgba(255, 69, 0, 0.8);
}

.text {
  position: relative;
}
