.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Secondary button */
.componentL {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  box-sizing: border-box;
  min-width: 200px;
  cursor: pointer;
  color: var(--color-gray);
  text-transform: uppercase;
}
.componentL:hover {
  background: white;
  color: var(--color-orangered);
}

.componentM {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-gray);
  text-transform: uppercase;
  text-align: left;
}
.componentM:hover {
  background: white;
  color: var(--color-orangered);
}
.text {
  position: relative;
}
