.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Secondary button */
.component2l {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  box-sizing: border-box;
  min-width: 200px;
  cursor: pointer;
  color: var(--color-gray);
  font-size: 20px;
  font-family: var(--font-kordon);
  font-style: italic;
  text-align: left;
  font-size: 20px;
}
.component2l:hover {
  background: white;
  color: var(--color-orangered);
}

.component2m {
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 16px;
  box-sizing: border-box;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-gray);
  font-family: var(--font-kordon);
  font-style: italic;
  text-align: left;
}
.component2m:hover {
  background: white;
  color: var(--color-orangered);
}
.text {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
}
