.copyButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyButton img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
  transition: filter 0.15s ease;
}

.copyButton.copied img {
  filter: none;
}
