/* arrowButton Section */
.arrowButton {
  width: 54;
  height: 54;
  border: 1px solid var(--color-gray);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowButton:hover {
  cursor: pointer;
  background: var(--color-orangered);
  border-color: var(--color-orangered);
  color: var(--color-gray);
}
.arrowImage {
  transition: filter 0.3s;
}
.arrowButton:hover .arrowImage {
  filter: brightness(0) saturate(100%) invert(87%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
}

/*  Section */
