.contactsMain {
  padding: 120px 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sectionTitle {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card h3 {
  margin: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  color: #FBFBFB;
  text-decoration: none;
  transition: color 0.3s;
}

.messengerItem {
  color: #FBFBFB;
  transition: color 0.3s;
}

.messengerList {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1250px) {
  .contactsMain {
    padding: 120px 0;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
  }
}

@media (max-width: 924px) {
  .contactsMain {
    padding: 100px 0;
  }

  .contentWrapper {
    gap: 40px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 674px) {
  .contactsMain {
    padding: 80px 0;
  }

  .contentWrapper {
    gap: 32px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .card {
    gap: 16px;
  }

  .messengerList {
    gap: 16px;
  }
}
