/* Footer */

.footerMain {
  background: #1b1a1f;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-kordon);
}
.sectionTitle {
  color: #fbfbfb;
  margin: 0;
  white-space: nowrap;
}
.footer {
  max-width: 1250;
  width: 100%;
}

.footerContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 45px;
  row-gap: 80px;
  max-height: 600;
}

.footerBranding {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerOrganization {
  color: #fbfbfb;
  margin: 0;
  text-transform: uppercase;
}
.footerLogo {
  width: 384px;
  height: 87px;
}

.footerSections {
  display: flex;
  gap: 20;
}

.footerColumnContainer {
  display: flex;
  flex-direction: column;
  gap: 40;
  min-width: 332;
}
.footerColumn h4 {
  color: #fbfbfb;
  margin: 0 0 20px 0;
  min-width: 298;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerColumn li {
  margin-bottom: 10px;
}

.footerColumn a {
  color: #fbfbfb;
  text-decoration: none;
  letter-spacing: 0.44px;
  transition: color 0.3s;
}

.footerColumn a:hover {
  color: #ff4f18;
}

.footerColumn p {
  color: #fbfbfb;
  letter-spacing: 0.44px;
  margin: 10px 0;
}
.footerColumnList {
  display: flex;
  flex-direction: column;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  max-width: 235;
  gap: 0px;
}

.socialLinks a {
  display: inline-block;
  width: 27px;
  height: 27px;
  color: #fbfbfb;
  text-decoration: none;
  transition: all 0.3s;
}

.socialLinks a:hover {
  color: #ff4f18;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 386px;
  gap: 40;
  margin-top: 80;
}

.footerBottom p {
  color: #878787;
  letter-spacing: 0.32px;
  margin: 0;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerLinks a {
  color: #878787;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 0.3s;
}

.footerLinks a:hover {
  color: #fbfbfb;
}

/* Responsive */

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    padding: 20px 30px;
    height: auto;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .heroTitle {
    font-size: 40px;
    line-height: 40px;
  }

  .sectionTitle {
    font-size: 50px;
  }

  .heroActions {
    flex-direction: column;
  }

  .primaryBtn,
  .secondaryBtn {
    width: 100%;
    min-width: unset;
  }

  .statsContainer,
  .valuesGrid {
    grid-template-columns: 1fr;
  }

  .jobGrid {
    grid-template-columns: 1fr;
  }

  .footerContent {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

@media (max-width: 1270px) {
  .footer {
    max-width: 924;
  }
  .footerSections {
    flex-direction: column;
    gap: 40;
  }

  .footerSections > div:first-child {
    order: 2;
  }

  .footerSections > div:last-child {
    order: 1;
  }

  .footerColumnList {
    flex-direction: row;
    gap: 40;
  }

  .footerColumnContainer {
    gap: 30;
  }
  .footerBottom {
    margin-top: 230;
  }
}
