/* Values Section */
.valuesMain {
  background: #1b1a1f;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  color: #ff4f18;
  margin: 0;
  white-space: nowrap;
}

.valuesSection {
  max-width: 1250px;
  width: 100%;
}

.valuesHeader {
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
}

.valuesSubtitle {
  color: #fbfbfb;
  max-width: 710px;
  margin: 0;
  align-self: flex-start;
}

.valuesImage {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 80px 0;
  max-width: 1250px;
}

.valuesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 126px;
  max-width: 1250px;
}

.valueItem h3 {
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 20px 0;
  color: #fbfbfb;
}
.valueItem1 h3 {
  min-width: 422;
  line-height: 1;
  margin: 0 0 20px 0;
  color: #fbfbfb;
}
.valueItem1 p {
  color: #fbfbfb;
  margin: 0;
}
.valueItem2 h3 {
  min-width: 318;
  line-height: 1;
  margin: 0 0 20px 0;
  color: #fbfbfb;
}
.valueItem2 p {
  color: #fbfbfb;
  margin: 0;
}
.valueItem p {
  color: #fbfbfb;
  margin: 0;
}
