/* Recruitment Path Section */
.recruitmentMain {
  background: #1b1a1f;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recruitmentSection {
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 124;
}

.sectionTitle {
  color: var(--color-orangered);
  margin: 0;
  max-width: 403;
}

.pathSteps {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 40px;
  max-width: 723px;
}

.pathStep h3 {
  color: #fbfbfb;
  margin: 0 0 20px 0;
}

.pathStep p {
  color: #fbfbfb;
  letter-spacing: 0.44px;
  margin: 0;
  max-width: 194px;
}
