/* About Section */
.sectionMain {
  background: #1b1a1f;
  padding: 120px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutSection {
  max-width: 1250px;
  width: 100%;
}
.aboutHeader {
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  color: #ff4f18;
  margin: 0;
  white-space: nowrap;
}

.aboutText {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 750px;
}

.aboutDescription {
  color: #fbfbfb;
  margin: 0;
}

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 80px 0;
}

.carouselItem {
  position: relative;
  width: 494px;
  height: 400px;
  flex-shrink: 0;
  background: #1b1a1f;
  overflow: hidden;
}

.carouselItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Stats Section */
.statsSection {
  background: #1b1a1f;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  width: 1250px;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  min-width: 723px;
}

.statItemTop h3 {
  color: var(--color-orangered);
  margin: 0 0 20px 0;
}

.statItemTop p {
  color: #fbfbfb;
  margin: 0;
  max-width: 228;
}

.statItem h3 {
  color: #fbfbfb;
  margin: 0 0 20px 0;
  min-width: 183;
}

.statItem p {
  color: #fbfbfb;
  margin: 0;
}

.statItem:nth-child(2) h3,
.statItem:nth-child(3) h3 {
  color: #fbfbfb;
}
.statItem:first-child {
  max-width: 223;
}
.statItem:nth-child(2) {
  max-width: 197;
}
.statItem:nth-child(3) {
  max-width: 183;
}

.quote {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff4f18;
  line-height: 1.2;
  max-width: 1250px;
  margin: 0;
  padding: 0 95px 156px;
}
