/* Jobs Section */
.jobMain {
  background: #151419;
  padding: 120px 0;
  font-family: var(--font-kordon);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionTitle {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 73px;
  color: #ff4f18;
  margin: 0;
  white-space: nowrap;
  font-weight: 700;
  font-style: initial;
}
.jobsSection {
  max-width: 1250px;
  width: 100%;
}

.jobsHeader {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
}

.jobsSubtitle {
  font-size: 20px;
  line-height: 28px;
  color: #fbfbfb;
  max-width: 721px;
  margin: 0;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
}

.jobCategoriesContainer {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  max-width: 1250px;
  gap: 40px;
}

.jobCategories {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
}

.categoryBtn {
  background: transparent;
  border: 1px solid #fbfbfb;
  color: #fbfbfb;
  padding: 14px 22px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.categoryBtn.active {
  background: #ff4f18;
  border-color: #ff4f18;
  color: #fbfbfb;
}
.categoryBtn.active :hover {
  background: #ff4f18;
  border-color: #ff4f18;
  color: #fbfbfb;
}

.categoryBtn:hover {
  border-color: #ff4f18;
  color: #fbfbfb;
}

.jobGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1250px;
}

.jobCard {
  background: #1b1a1f;
  /* border: 1px solid #fbfbfb; */
  padding: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.jobCardContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.jobCardContainerTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobCard h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: #fbfbfb;
}

.jobTags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.jobTags span {
  font-size: 14px;
  font-weight: 400;
  color: #878787;
  text-transform: uppercase;
  text-decoration: none;
}
.jobArrowSvg {
  margin-top: 60;
  width: 54;
  height: 54;
}
.jobsAction {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.jobsQuote {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff4f18;
  line-height: 1;
  margin: 0;
}

.jobsButton {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
